body {
  background-image: url("../images/aurora.jpg");
  color: white;
}

#content {
}

#img-head {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid lightskyblue;
}

#box-left {
    border: 5px solid orange;
    margin: 20px 10px;
    padding: 20px;
    height: 280px;
    position: relative;
}

#text-hint {
  position: absolute;
  bottom: 5px;
  color: yellowgreen;  
  font-style: italic;
}

.left-head {
  margin: 0px 10px;
}

#text-help {
  margin: 20px;
}

#box-content {
  color: black;
}

#box-content-text {
  position: relative;
}

#foot-content {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.btn {
  margin-top: -6px;
}

#btn-start {
  margin-left: 10px;
}

#currentWord, #lettersPicked {
  letter-spacing: 5px;
  font-size: 24px;
}

#lettersPicked {
  color: lightgreen;
}

#img-content {
  width: 200px;
  margin: auto;
}

#text-content {
  height: 80%;
}

.actors-box{
  padding: 15px;
}